<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with(url: bank_path) do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Bank Account</h5>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <%= f.text_field :user_name, class: 'form-control ',  placeholder:"Full Name", require: true  %>
          </div>
          <div class="mb-3">
            <%= f.text_field :bank_name, class: 'form-control ',  placeholder:"Bank Name", require: true  %>
          </div>
          <div class="mb-3">
            <%= f.number_field :account_number , class: 'form-control',placeholder:"Bank Account Number", require: true  %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'AddBank', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
