<div class='w-100 h-100 m-donation-page'>
  <h3 class='text-center dontion-heading'> Send Donations </h3>
  <p class='donation-user'> <span>To </span>  <%=  @user.first_name.capitalize %>  <%=  @user.last_name.capitalize %>   </p>
  <%= form_with(url: donate_path, class: 'shadow p-3 rounded donation-form') do |f| %>
    <div class="form-floating  mb-1">
      <%= f.hidden_field :receiver_id,value: @user.id %>
      <%= f.text_field(:item,  {  class: 'form-control  px-2' , placeholder:"Phone Number eg(+1 343 343 4545)" , require: true} ) %>
      <label class='py-2 new-label'for="floatingPhone">Name of donations</label>
    </div>
    <small> Leave blank if donation is not money </small>
    <div class="form-floating  mb-1">
      <%= f.number_field(:amount,  {  class: 'form-control  px-2' , placeholder:"Phone Number eg(+1 343 343 4545)" , require: true, pattern: '\d' } ) %>
      <label class='py-2 new-label'for="floatingPhone">Amount</label>
    </div>
    <div class="">
      <%= f.submit "Donate", disable_with: 'Donating...', class: 'form-control btn signup-btn'%>
    </div>
  <% end %>
</div>
